<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 4GUYS_Bookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_4guys_bs.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css"/>
</head>
<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">4GUYS_Bookstore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="container-fluid">
                <label for="twotabsearchtextbox" style="display : none;">Search...</label>
                <input type="text" id="twotabsearchtextbox" autocomplete="off" placeholder="Search..."
                       dir="auto" tabindex="0" aria-label="Search ..." spellcheck="false" position="center" size="40%" />
            </div>
            <div class="container-fluid">
                @*<a aria-label="darkmode">
                <div class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="nav-cart-icon nav-sprite">Darkmode</span>
                </div>
            </a>*@

            @*<a aria-label="" asp-area="" asp-controller="Home" asp-action="Admin">
                <div class="nav-link text-dark">
                    <button class="login-container">
                        <span class="nav-cart-icon nav-sprite">Admin</span>
                    </button>
                </div>
            </a>*@
            </div>
            <div class="container-fluid" style="color: hsl(120, 100%, 30%); font-size: large; margin-left: 30px;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between nav" id="top-menu-nav">
                    <ul class="navbar-nav flex-grow-1"  role="presentation">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin">Pulisher</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Category</a>
                            <div id="item-0" class="submitems show">
                                <a asp-area="" asp-controller="Home" asp-action="Index"></a>                                
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Year</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a aria-label="0 items in cart" asp-area="" asp-controller="" asp-action="">
                <div class="nav-link text-dark">
                    <button class="cart-button">
                        <span class="nav-cart-icon nav-sprite">In cart</span>
                    </button>
                </div>
            </a>
            <a aria-label="login" asp-area="" asp-controller="Auth" asp-action="Login">
                <div class="nav-link text-dark">
                    <button class="login-container">
                        <span class="nav-cart-icon nav-sprite">Login</span>
                    </button>
                </div>
            </a>
        </nav>
        
    </header>

    <div class="container">
        <aside id="categorySidebar">
            <h2>4 GUYS</h2>
            <ul id="categoryList">
                <li></li>
            </ul>
        </aside>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - 4GUYS_Bookstore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

