html {
    margin: auto;
    font-family: Segoe UI;
    background: #f8f6f2;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    text-align: justify;
}
body {
    background-image: url("https://i.pinimg.com/564x/68/05/00/680500ffe2032bdeec343d36b26a31fe.jpg");
    background-size: 80%;
}

s {
    color: #9f9f9f;
}

.logo {
    width: 530px;
    height: 120px;
    //background: #1a444b;
    background-image: url("https://i.imgur.com/N0S9HLi.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
}

.header {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #ffc907;
    color: #322737;
    text-align: center;
}


.container {
    position: relative;
    width: 960px;
    top: 120px;
    margin: 40px auto;
    background: #ffffff;
/*    display: flex;*/
    justify-content: space-between;
/*    margin: 20px;*/
}


.cart-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login-container {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-button {
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
}

    .cart-button:hover {
        background-color: #45a049;
    }

.login-container {
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
/*    margin-top: 10px;*/
}

    .login-container:hover {
        background-color: #286090;
    }

.bookContainer {
    vertical-align: top;
    display: inline-block;
    background: #ffffff;
    width: 220px;
    border-radius: 10px;
    //border: 1px solid #333333;
    text-align: center;
    margin-bottom: 40px;
}

    .bookContainer:hover {
        background: #ffc907;
        color: #515151;
    }

    .bookContainer a {
        //position: absolute;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5em;
        width: 60px;
        height: 30px;
        color: #2980b9;
    }

.bookImage {
    width: 113px;
    height: 240px;
    //background: #1a444b;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 20px auto 15px;
}

#img01 {
        background-image: url("https://i.imgur.com/gsiuIZY.png");
}

#img02 {
    background-image: url("https://i.imgur.com/WxD78Mf.png");
}

#img03 {
    background-image: url("https://i.imgur.com/W2Wix2z.png");
}

#img04 {
    background-image: url("https://i.imgur.com/ySbZBvL.png");
}

#img05 {
    background-image: url("https://i.imgur.com/uF8jWAa.png");
}

#img06 {
    background-image: url("https://i.imgur.com/lW0Bgah.png");
}


.bookPrice {
    background: #f8f6f2;
    color: #27ae60;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    font-weight: bold;
}

.bookTitle {
    margin: 0;
}

.bookEdition {
    color: #9f9f9f;
    margin: 5px;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/*ADV BANNER*/
.adv-banner {
    background-color: #f1f1f1;
/*    background-image: url("https://i.pinimg.com/564x/85/1d/9d/851d9d3402b30ab7f27939595982d224.jpg");
    background-size: 100%;*/
}

    .adv-banner > img {
        width: 100%;
        display: block;
        margin: 0 auto;
        padding: 1.4em;
        flex-grow: 1;
        margin-left: 20px;
    }


aside {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
}

#categoryList {
    list-style: none;
    padding: 0;
}

    #categoryList li {
        margin-bottom: 5px;
        cursor: pointer;
    }

        #categoryList li:hover {
            color: #ff9900;
        }

/*.banner {
    flex-grow: 1;
    margin-left: 20px;
}*/
/*
    .banner img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }*/


#top-menu-nav .subitems.show {
    display: flex;
    position: fixed;
    width: auto;
    flex-direction: column;
    background-color: #ffffff;
    width: 300px;
    margin-left: -20px;
}
top-menu-nav .subitems {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
.subitems {
    padding: 20px;
    height: auto;
    width: auto;
    max-height: 90%;
    background-color: #d3d3d3;
}