@{
    ViewData["Title"] = "Home Page";
}

@*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">*@
    <div class="adv-banner" style="background-size: auto;">
        <img src="https://i.pinimg.com/564x/ff/76/d1/ff76d1ad23709ce78b57d7ad97939688.jpg" alt="">
    </div>
@*</nav>*@
<div >
    <main>
        <acticle>
            @*<figure>*@
                <div class="container">
                    <h1 class="">Top seller.</h1>
                    <div class="bookContainer" id="book01">
                        <div class="bookImage" id="img01">&nbsp;</div>
                        <p class="bookTitle">
                            "How to Cook Kroback" <br /> Andrew Mitt
                        </p>
                        <div class="bookPrice">1850 CR</div>
                        <p class="bookEdition">Limited Edition</p>
                    </div>

                    <div class="bookContainer" id="book02">
                        <div class="bookImage" id="img02">&nbsp;</div>
                        "Omega Mountain" <br />
                        Gregory C. Thompson <br />
                        <a href="https://books.toscrape.com/catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html">6.99 $</a>
                    </div>

                    <div class="bookContainer" id="book03">
                        <div class="bookImage" id="img03">&nbsp;</div>
                        "You Don't Have To Put On" <br />
                        Scott Martin <br />
                        <a href="#">4.50 $</a>
                    </div>

                    <div class="bookContainer" id="book04">
                        <div class="bookImage" id="img04">&nbsp;</div>
                        "Hoxkit" <br />
                        Abraham Russo <br />
                        <a href="#">1.75 $</a>
                    </div>

                    <div class="bookContainer" id="book05">
                        <div class="bookImage" id="img05">&nbsp;</div>
                        "My First Boeing" <br />
                        Jake Schoppfer <br />
                        <a href="#">9.99 $</a>
                    </div>

                    <div class="bookContainer" id="book06">
                        <div class="bookImage" id="img06">&nbsp;</div>
                        "The Commisariat" <br />
                        Ivan Sazanov <br />
                        <a href="#">5.40 $</a>
                    </div>
                    <div class="bookContainer" id="book06">
                        <div class="bookImage" id="img06">&nbsp;</div>
                        "The Commisariat" <br />
                        Ivan Sazanov <br />
                        <a href="#">5.40 $</a>
                    </div>
                    <div class="bookContainer" id="book06">
                        <div class="bookImage" id="img06">&nbsp;</div>
                        "The Commisariat" <br />
                        Ivan Sazanov <br />
                        <a href="#">5.40 $</a>
                    </div>
                </div>
            @*</figure>*@
            @*<p>This is P/acticle/main</p>*@
        </acticle>
        @*<section>This is Section</section>*@
    </main>
</div>